<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/templates/css/gamestore.css}">
</head>

<body>
<div class="container-fluid bg-main">
    <div th:replace="fragment/header :: header"></div>

    <div class="row">
        <h1 th:text="${app.name}" class="text-center"></h1>

        <div class="row">
            <div class="col-sm-2">
                <p class="text-right text-bold" th:text="#{application.description}"></p>
            </div>
            <div class="col-sm-5">
                <p th:text="${app.description}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <p class="text-right text-bold" th:text="#{application.category}"></p>
            </div>
            <div class="col-sm-5">
                <p th:text="${app.category}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <p class="text-right text-bold" th:text="#{application.uploaded}"></p>
            </div>
            <div class="col-sm-5">
                <p th:text="${#calendars.format(app.timeUploaded, 'dd MMM yyyy')}"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <p class="text-right text-bold" th:text="#{application.downloaded}"></p>
            </div>
            <div class="col-sm-5">
                <p th:text="${app.downloadNumber}"></p>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-5">
            <a th:href="@{'/' + ${app.id} + '/download'}" th:text="#{application.download}">Download application</a>
        </div>

    </div>
</div>
</body>

</html>