<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/registration}" th:object="${user}" method="post">
    <div class="errors" th:if="${#fields.hasErrors('*')}">
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
    </div>

    <fieldset>
        <label th:for="${username}" th:text="#{registration.username}">Username</label>
        <input type="text" th:field="*{username}" required="true"/> <br>

        <label th:for="${password}" th:text="#{registration.password}">Password</label>
        <input type="password" th:field="*{password}" required="true"/> <br>

        <label th:for="${role}" th:text="#{registration.selectRole}">Account type</label>
        <select th:field="*{role}">
            <option th:each="role : ${allRoles}" th:value="${role}" th:text="#{${'registration.role.' + role}}">Role
            </option>
        </select>
        <br><br>
        <input type="submit" th:value="#{registration.submit}"/>

        <br><br>
        <a th:href="@{/login}" th:text="#{registration.alreadyRegistered}">Already have account</a>
    </fieldset>
</form>
</body>
</html>