<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <form th:action="@{/registration}" method="post">
        <fieldset>
            <label for="username" th:text="#{registration.username}"/>
            <input id="username" type="text" name="username" /> <br>
            <label for="password" th:text="#{registration.password}"/>
            <input id="password" type="password" name="password" /> <br><br>
            <input type="submit" th:value="#{registration.submit}"/>
        </fieldset>
    </form>
</body>
</html>