<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div class="container-fluid">
    <div class="row" style="background-color:#F8E6E0;">
        <h3 th:text="#{shopwindow.mostPopular}">Popular</h3>
        <div th:each="app : ${popularApplications}" class="col-sm-6 col-md-2">
            <div class="thumbnail"
                 th:with="image512=${app.image512Path},image128=${app.image128Path}">
                <img th:src="(${image512} != null) ? @{/files/__${image512}__}
                        : ((${image128} != null) ? @{/files/__${image128}__}
                        : @{/assets/images/1.jpg})" alt="Logo">
                <div class="caption">
                    <h3><a th:text="${app.name}" th:href="@{'/' + ${app.id}}">name</a></h3>
                    <p th:text="${app.description}">description</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color:#E0F2F7;">
        <a class="btn btn-primary" th:href="@{upload}" th:text="#{shopwindow.upload}"
           style="float: right; margin-right: 5%;">Upload
        </a>
    </div>

    <div class="row">
        <div class="col-md-2" style="background-color:#F8E0F1;">
            <ul class="nav nav-pills nav-stacked">
                <li th:each="category : ${allCategories}">
                    <a th:text="#{${'category.' + category}}" th:href="@{#}">item</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10" style="background-color:#E6F8E0;">
            <div class="row">
                <div th:each="app : ${pageApplications}" class="col-sm-6 col-md-2">
                    <div class="thumbnail"
                         th:with="image512=${app.image512Path},image128=${app.image128Path}">
                        <img th:src="(${image512} != null) ? @{/files/__${image512}__}
                        : ((${image128} != null) ? @{/files/__${image128}__}
                        : @{/assets/images/1.jpg})" alt="Logo">
                        <div class="caption">
                            <h3><a th:text="${app.name}" th:href="@{'/' + ${app.id}}">name</a></h3>
                            <p th:text="${app.description}">description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div>
                    <ul class="pagination" th:each="pageNum : ${#numbers.sequence(1, __${pageCount}__)}">
                        <li><a th:href="@{?page=__${pageNum}__}" th:text="${pageNum}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>