<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/templates/css/header.css}">
</head>

<body>
<div th:fragment="header" class="bg-header">
    <div class="row">
        <div class="col-md-1 text-right">
            <a th:href="@{/}" th:text="#{toMainPage}">Return to main</a>
        </div>
        <div class="col-md-1 col-md-offset-10">
            <form th:action="@{/logout}" method="POST">
                <input name="submit" type="submit" class="btn btn-info" th:value="#{logout}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>