.bg-main
{
    background-color: #e0ebeb;
}
.bg-categories
{
    background-color: #b1cdcd;
}
.bg-header
{
    background-color: #e6ffff;
}
.hr-green
{
    border-color: #b1cdcd;
}
.text-bold
{
    font-weight: bold;
}